* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.camera-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(37, 22, 88);
}

.video-sec {
  border: 5px solid rgb(6, 173, 202);
  width: 550px;
  height: 550px;
  border-radius: 50%;
}

.video-sec video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.control-sec {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.control-sec button {
  padding: 20px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(6, 173, 202);
  color: white;
  border: 0;
  border-radius: 8px;
}

.control-sec button {
  font-weight: 600;
}
